body{
    font-family: "Open Sans";
    background-color: #E2E2E2 !important;
}

*{
    outline: none !important;
}

#root{
    width: 800px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.33);
    transition: all .3s ease;
    text-align: center;
    padding-bottom: 10px;
}

.content{
    padding: 10px;
}

img{
    width: 100%;
}
.img-profile{
    display: block;
    width: 150px;
    margin: 10px auto;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #555;
    transform: rotate(2deg);
}

.profile-name{
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
    transform: rotate(2deg);
}

.album-img{
    width: 150%;
}

.album-section{
    margin: 20px;
}

.img-container{
    height: 140px;
    overflow: hidden;
}

.album-element{
    overflow: hidden;
}

.photo-element img{
    width: 150%;
}
.photo-element{
    overflow: hidden;
    max-height: 170px;
    margin-top: 10px;
    cursor: pointer;
}

.img-selected{
    opacity: 0.5;
}

.cover-section{
    overflow: hidden;
    margin-bottom: 10px;
    padding-top: 40px;
    border-bottom: 1px solid #ccc;
    background-position: 0 !important;
    background-size: cover !important;
}

.album-section,.photos-section
{
    padding-left: 10px;
    padding-right: 25px;
}

.btn{
    margin-left: 5px;
    margin-right: 5px;
}


/** Loading Animation **/

@keyframes loading {
    from {background-color: #449D44;}
    to {background-color:#1E1E1E;}
}

.loading{

    background-color: red !important;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}