body{
    font-family: "Open Sans";
    background-color: #E2E2E2 !important;
}

#root{
    width: 700px;
    margin: 20px auto;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0,0,0,.33);
    transition: all .3s ease;
    text-align: center;
}